@model CatalogPagingFilteringModel


<div class="filters-row">
    <div class="pull-left">
        <div class="filters-row__mode">
            <a href="#" class="btn btn--ys slide-column-open visible-xs visible-sm hidden-xl hidden-lg hidden-md">Filter</a>
            <a class="filters-row__view active link-grid-view btn-img btn-img-view_module"><span></span></a>
            <a class="filters-row__view link-row-view btn-img btn-img-view_list"><span></span></a>
        </div>

        @*sorting*@
        @if (Model.AllowProductSorting)
        {
            @*<div class="product-sorting">
                    <span>@T("Catalog.OrderBy")</span>
                    @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);" })
                </div>*@


            <div class="filters-row__select hidden-sm hidden-xs">
                <label>Sort by: </label>
                <div class="select-wrapper">
                    @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);" , @class="select--ys sort-position"})
                </div>
                @*<a href="#" class="sort-direction icon icon-arrow_back"></a>*@
            </div>
        }
    @*</div>
    <div class="pull-right">*@
        @*page size*@
        @if (Model.AllowCustomersToSelectPageSize)
        {
            @*<div class="product-page-size">
                <span>@T("Catalog.PageSize")</span>
                @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { onchange = "setLocation(this.value);" })
                <span>@T("Catalog.PageSize.PerPage")</span>
            </div>*@

            @*<div class="filters-row__items hidden-sm hidden-xs">28 Item(s)</div>*@
            <div class="filters-row__select hidden-sm hidden-xs">
                <label>Show: </label>
                <div class="select-wrapper">
                    @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { onchange = "setLocation(this.value);" ,  @class = "select--ys sort-position" })
                </div>
                <a href="#" class="icon icon-arrow-down active"></a><a href="#" class="icon icon-arrow-up"></a>
            </div>
            @*<div class="filters-row__pagination">
                <ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><span class="icon icon-chevron_right"></span></a></li>
                </ul>
            </div>*@
        }
    </div>
</div>