@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common
@inject CommonSettings commonSettings
@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
@if (Model.Enabled)
{


    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb--ys pull-left">
                <li class="home-link"><a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")" class="icon icon-home"></a></li>

                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                  

                   
                        <li><a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a></li>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                   
                }

                <li>
                    <strong class="active">@Model.ProductName</strong>
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBreadcrumbAfter, additionalData = Model })
                </li>
            </ol>
        </div>
    </div>

}